.body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align:center ;
    background-color: rgb(115, 13, 211);
}

.h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tip-box{
    min-heigth: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tip-number {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.tip-title {
    font-weight: bold;
    margin-bottom:10px;
    font-size: 1.2em;
    margin-top: 20px;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}

.prev-btn {
    background-color: aqua;
}

.next-btn {
    background-color: aqua;
    color:white;
}

.button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
